.box{
	width: 1100px;
	height: auto;
	/*background-color: #eaeaea;*/
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
}
.left{
	width: 69%;
	height: auto;
	/*background-color:skyblue;*/
	border: 1px solid #e5e5e5;
	padding:20px;
	box-sizing: border-box;
	box-shadow:0px 14px 15px 0px #8d8d8d1f inset;
}
.a2{text-decoration: none;
	color: #000; font-size: 22px;
font-weight: bold;}
.a2:hover{color: red;text-decoration: underline;}
.title_1{
	padding: 15px 10px 10px 0px;
	border-bottom: 1px dashed #a2a2a2;
}
.title_1_1{padding: 15px 10px 10px 10px;
		border-bottom: 1px solid #e00000;}
.con{width: 100%;height: auto;
	/*background-color: red;*/
		margin-top: 26px;}
.ul_2{list-style: none;}
.li_2{
	/*line-height: 24px;*/
	margin-top: 3px;/* 左边文字间距 */
	}
.li_3{margin-top: 5px;}
.a3{padding-left: 10px;font-size: 14px;color: #666;
	text-decoration: none;}
.a3:hover{color: red;text-decoration: underline;}

.data_1{float: right;color: #888;font-size: 12px;
	/*background-color: yellow;*/
}
.title_2{margin-top: 30px;}

.right{
	width: 30%;
	height: auto;
	/*background-color:pink;*/
	box-sizing: border-box;
}
.up_1{
	width: 100%;height: auto;
	/*background-color: salmon;*/
	padding: 15px 10px 10px 10px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	box-shadow:0px 14px 15px 0px #8d8d8d1f inset;
}
.up_2{margin-top: 10px;}
.cl{color: #000;text-decoration: none;}
.ol_1{margin:10px 0 0 20px;font-size: 13px;
	/*line-height: 20px;*/
	}
.a4{text-decoration: none;color: #666;font-size: 12px;}
.a4:hover{color: red;text-decoration: underline;}
.ul_3{padding: 10px 10px 0 3px;}
.li_4{list-style: none;}
.a5{margin-left: 6px;
	text-decoration: none;color: #666;font-size: 12px;}
.a5:hover{color: red;text-decoration: underline;}


.box_2{width: 1100px;height: auto;margin: 20px auto;
		display: flex;
		justify-content: space-between;}
.left_2{width: 32%;height: auto;
		/*background-color: #eaeaea;*/
		 padding: 10px;box-sizing: border-box;
		border: 1px solid #ff00001a;
    	box-shadow: 0px 14px 15px 0px #ff41411c inset;}
.ol_2{margin:10px 0 0 24px;color: #808080;}
.a7{text-decoration: none;color: #666;font-size: 13px;margin-left: 2px;}
.a7:hover{color: red;text-decoration: underline;}



.middle_2{width: 32%;height: auto;
		/*background-color: #eaeaea;*/
		 padding: 10px;box-sizing: border-box;
		border: 1px solid #5bff0038;
    	box-shadow: 0px 14px 15px 0px #12ff0030 inset;}
.right_2{width: 32%;height: auto;
		/*background-color: #eaeaea;*/
		 padding: 10px;box-sizing: border-box;
		border: 1px solid #023dff1f;
    	box-shadow: 0px 14px 15px 0px #2602ff14 inset;}
